<mat-toolbar class="topbar" style="display: flex;  justify-content: center;  ">
  <!-- Mobile Menu -->
  <!-- --------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <!--  <button mat-icon-button aria-label="Notifications">-->
  <!--    <i-tabler class="d-flex" name="bell" matBadge="9" matBadgeColor="primary"></i-tabler>-->
  <!--  </button>-->

  <div class="align-items-center" style=" text-align: center;" >
  <span class="f-s-17 mat-body-1" style="text-align: center; " >
    Tojoniaina Hajarisoa & Razafindratovo Dina
  </span>


</div>


</mat-toolbar>
