<div class="col-lg-12">

  <div *ngIf="isLoading"
       style="position: fixed; width: 100%; height: 100%; display: flex ; justify-content: center; align-items: center; background: white; top: 0; left: 0 ; z-index:  9999;  margin-top: 7%; border-radius: 5%; ">
    <mat-spinner></mat-spinner>
  </div>


  <mat-card class="mat-card cardWithShadow">
    <form [formGroup]="searchForm" (submit)="filterData(searchForm.value)">
      <mat-card-content class="mat-mdc-card-content">
        <div class="row justify-content-evenly"
             style="display: flex; align-items: center; justify-content: space-evenly">
          <div class="col-3 m-0 p-0">
<!--            <mat-form-field appearance="outline" class="form-field-class col-12">-->
<!--              <mat-label class="mat-label-class">date_heure</mat-label>-->
<!--              <input formControlName="date_heure" class="mat-input-class" matInput-->
<!--                     placeholder="Entrez le date_heure...">-->
<!--            </mat-form-field>-->

            <mat-form-field appearance="outline" class="form-field-class col-12">
              <mat-label class="mat-label-class">Une intervalle de recherche </mat-label>
              <mat-date-range-input [formGroup]="searchForm" [rangePicker]="picker">
                <input class="mat-input-class" matStartDate formControlName="start" placeholder="Start date">
                <input class="mat-input-class" matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>
<!--            <p>Selected range: {{searchForm.value.start +   searchForm.value.end  | json}}</p>-->



          </div>
          <br>

          <div class="col-3 m-0 p-0">
          <mat-form-field appearance="outline" class="form-field-class col-12">
            <mat-label class="mat-label-class">Service</mat-label>
            <mat-select formControlName="service" class="mat-input-class" matInput>
              <mat-option class="mat-input-element">None</mat-option>
              <mat-option *ngFor="let service of servicesDeroulante" [value]="service.description">{{ service.description }}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
<!--          <div class="col-3 m-0 p-0">-->
<!--            <mat-form-field appearance="outline" class="form-field-class col-12">-->
<!--              <mat-label class="mat-label-class">service</mat-label>-->
<!--              <input formControlName="service" class="mat-input-class" matInput placeholder="Entrez le service...">-->
<!--            </mat-form-field>-->
<!--          </div>-->
          <br>
<!--          <div class="col-3 m-0 p-0">-->
<!--            <mat-form-field appearance="outline" class="form-field-class col-12">-->
<!--              <mat-label class="mat-label-class">employe</mat-label>-->
<!--              <input formControlName="employe" class="mat-input-class" matInput placeholder="Entrez le employe...">-->
<!--            </mat-form-field>-->
<!--          </div>-->

          <div class="col-3 m-0 p-0">
            <mat-form-field appearance="outline" class="form-field-class col-12">
              <mat-label class="mat-label-class">employe</mat-label>
              <mat-select formControlName="employe" class="mat-input-class" matInput>
                <mat-option class="mat-input-element">None</mat-option>
                <mat-option *ngFor="let serv of services" [value]="serv.value">{{serv.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <br>
          <div class="col-3 m-0 p-0">
            <mat-form-field appearance="outline" class="form-field-class col-12">
              <mat-label class="mat-label-class">duree</mat-label>
              <input formControlName="duree" class="mat-input-class" matInput placeholder="Entrez le duree...">
            </mat-form-field>
          </div>
          <br>
          <div class="col-3 m-0 p-0">
            <mat-form-field appearance="outline" class="form-field-class col-12">
              <mat-label class="mat-label-class">prixpaye</mat-label>
              <input formControlName="prixpaye" class="mat-input-class" matInput placeholder="Entrez le prixpaye...">
            </mat-form-field>
          </div>
          <br>
          <div class="col-sm-4 text-end d-flex align-items-center justify-content-end"><br>
            <button mat-flat-button color="primary" class="add-contact-button-class col-12"> Rechercher</button>
          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Take a new Appointment</mat-card-title>
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100 table-borderless">
          <ng-container matColumnDef="date_heure">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> date_heure</th>
            <td mat-cell *matCellDef="let element ">
              <div class="d-flex align-items-center">
                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ element.date_heure | date: 'dd/MM/yyyy HH:mm' }} </span></div>
<!--                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ formatDate(element.date_heure)}} </span></div>-->
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> service</th>
            <td mat-cell *matCellDef="let element ">
              <div class="d-flex align-items-center">
                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ element.service.description }} </span></div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="employe">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> employe</th>
            <td mat-cell *matCellDef="let element ">
              <div class="d-flex align-items-center">
                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ element.employe.nom }} </span></div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="duree">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> duree</th>
            <td mat-cell *matCellDef="let element ">
              <div class="d-flex align-items-center">
                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ element.duree }} mn </span></div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="prixpaye">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> prixpaye</th>
            <td mat-cell *matCellDef="let element ">
              <div class="d-flex align-items-center">
                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ element.prixpaye.toLocaleString() }} Ariary</span></div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Etat</th>
            <td mat-cell *matCellDef="let element ">
              <!--              <div class="d-flex align-items-center">-->
              <!--                <div class="m-l-16"><span class="mat-body-1 f-s-14"> {{ element.etat_rdv }} </span></div>-->
              <!--              </div>-->


              <ng-template [ngIf]="element.etat_rdv == '0'">
                  <span
                    class="bg-light-warning text-warning rounded f-w-600 p-y-6 p-x-16 f-s-14"
                  >
                    En attente
                  </span>
              </ng-template>
              <ng-template [ngIf]="element.etat_rdv == '1'">
                  <span
                    class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                  >
                    Validé
                  </span>
              </ng-template>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
