<mat-card class="cardWithShadow">

  <div *ngIf="isLoading"
       style="position: fixed; width: 100%; height: 100%; display: flex ; justify-content: center; align-items: center; background: white; top: 0; left: 0 ; z-index:  9999;  margin-top: 7%; border-radius: 5%; ">
    <mat-spinner></mat-spinner>
  </div>


  <mat-card-content>
    <mat-card-title>Mon Profil</mat-card-title>
    <mat-card-subtitle class="mat-body-1">Changer Mon Profil</mat-card-subtitle>
    <form [formGroup]="form" >
      <mat-card-content (click)="openFileDialog()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" appearance="outline" class="mat-mdc-card-content p-y-24" style="border: 1px solid ; border-top-left-radius: 4px;
    border-top-right-radius:  4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;">
        <mat-card-title class="mat-mdc-card-title">Change picture</mat-card-title>
        <mat-card-subtitle class="mat-mdc-card-subtitle mat-body-1">Change a profile picture from here</mat-card-subtitle>
        <div class="text-center m-t-24">
          <img [src]="imageToShow" width="120" height="120" class="rounded-circle">
          <div class="m-t-24">
            <input id="fileInput" type="file" (change)="onFileChange($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" accept="image/*" class="d-none">
            <div class="upload-area" >
              <span class="f-s-14 m-t-24 d-block">Drag your image here or click to select</span>
            </div>
          </div>
          <span class="f-s-14 m-t-24 d-block">Allowed JPG, GIF or PNG. Max size of  800K</span>
        </div>
      </mat-card-content>

      <mat-form-field style="margin-top: 1.3rem;" appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">nom</mat-label>
        <input matInput class="mat-input-element" formControlName="nom"/>
        <mat-error *ngIf="f.nom.invalid "> nom invalid</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">email</mat-label>
        <input matInput class="mat-input-element" formControlName="email"/>
        <mat-error *ngIf="f.email.invalid "> email invalid</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Enter your password</mat-label>
        <input matInput class="mat-input-element" formControlName="password" [type]="hide ? 'password' : 'text'">
        <span style="margin-right: 1.02rem " mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </span>
        <mat-error *ngIf="f.password.invalid "> password invalid</mat-error>
      </mat-form-field>




      <div appearance="outline" class="w-100" color="primary">
        <button (click)="submit()" type="submit" mat-flat-button color="primary" class="w-50"> Confirm</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
