
<div >
  <header
    class="p-2 col-12 d-flex justify-content-between align-items-center px-4 position-fixed"
    style="z-index: 3"
    [style]="style"
  >


    <span>Prettier</span>

<!--    ngIf localStorage.getItem('userId') n'est pas null ,-->


    <!-- Si localStorage.getItem('userId') n'est pas null -->
    <button *ngIf="login" (click)="goToConnexion()" class="btn btn-primary">Connexion</button>

    <!-- Sinon, affiche le bouton pour prendre un rendez-vous -->
    <button *ngIf="!login" (click)="goToRDV()" class="btn btn-primary">Prendre un rendez-vous</button>
<!--    Sinon button prendre un rendez vous onclick(goToRDV)-->


  </header>
  <div
    style="height: 100vh"
    class="background-menu col-12 d-flex justify-content-start align-items-center"
  >
    <img src="../../../../assets/login_img.jpg" alt="" class="img" />
    <span style="font-size: 40px" class="mx-5 p-3 bg-white"
    >Envie de vous faire une beauté?</span
    >
  </div>
  <section
    class="card"
    style="
      border-radius: 12px 12px 0px 0px;
      z-index: 2;
      background-color: white;
    "
  >
    <header class="p-4">
      <span style="font-size: 20px">Nos services:</span>
    </header>
    <div class="container">
      <div class="row d-flex flex-row justify-content-start">
        <div class="col-sm-4 col-12 p-2" *ngFor="let item of servicesListResearch">
          <div
            class="d-flex flex-column service"
            style="height: 25rem; overflow: hidden"
          >
            <div
              class="d-flex justify-content-center"
              style="height: 80%; overflow: hidden"
            >
              <img
                [src]="item.image"
                alt=""
                height="100%"
              />
            </div>
            <div class="description p-2" style="height: 20%">
              <div class="d-flex justify-content-between">
                <span>
<!--                          <button-->
<!--                            mat-mini-fab-->
<!--                            color="primary"-->
<!--                            class="icon-30 cart-btn"-->
<!--                            matTooltip="Add to Cart"-->
<!--                          >-->
<!--        </button>-->

                  Favori
                </span>
                <span>
                  <b>{{ item.description }}</b></span
                >
                <span
                  style="background-color: pink; border-radius: 12px"
                  class="px-2"
                >{{ item.prix.toLocaleString() }}</span
                >
              </div>
              <span>
                {{ item.duree }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="d-flex justify-content-evenly p-4 border-top">
      <span>Tojoniaina Hajarisoa & Razafindratovo Dina</span>
    </footer>
  </section>
</div>
