<mat-card class="cardWithShadow">
  <mat-card-content class="cardWithShadow">
    <mat-card-title>Sample Page</mat-card-title>
    <mat-card-subtitle class="mat-body-1">This is a test page</mat-card-subtitle>
  </mat-card-content>

  <mat-card-content>
    <div class="image col-offset-1 col-11 h-100 d-flex align-items-center" style="overflow: hidden; height: auto;">
      <img src="../../../../assets/login_img.jpg" style="object-fit: cover; width: calc(100% - 2rem); height: 100%; margin: 0 1rem;">
    </div>
  </mat-card-content>

  <div class="row">
    <div class="col-offset-3">

      <mat-card-content class="services-section">
    <h2>Voici nos services</h2>
    <div class="services-list">
      <!-- Ici, vous pouvez ajouter vos cartes de services -->
      <mat-card class="service-card">
        <mat-card-content>
          <mat-card-title>Service 1</mat-card-title>
          <mat-card-subtitle>Description du service 1</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <!-- Ajoutez d'autres cartes de service ici -->
    </div>
  </mat-card-content>
    </div>
  </div>

</mat-card>
