<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Services</mat-card-title>
    <mat-card-subtitle class="mat-body-1">New Kind of Service</mat-card-subtitle>

    <form >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Service</mat-label>
        <input matInput />
<!--        <mat-error *ngIf="f.nom.invalid ">-->
<!--        Name invalid-->
<!--        </mat-error>-->
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Prix</mat-label>
        <input matInput  />
<!--        <mat-error *ngIf="f.prix.invalid && (f.prix.dirty || f.prix.touched)">-->
<!--        <mat-error *ngIf="f.prix.invalid ">-->
<!--        Invalid price-->
<!--        </mat-error>-->
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Durée</mat-label>
        <input matInput  />
<!--        <mat-error *ngIf="f.duree.invalid ">-->
<!--        invalid duration-->
<!--        </mat-error>-->
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Comission (%)</mat-label>
        <input matInput  />
<!--        <mat-error *ngIf="f.commission.invalid ">-->
<!--          invalid comission-->
<!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100" color="primary">
        <button type="submit"  mat-flat-button color="primary" class="w-50">
          Confirm
        </button>
      </mat-form-field>

<!--      <div class="mat-form-field-outline">-->

<!--      </div>-->





    </form>

  </mat-card-content>



</mat-card>

