<!--        <mat-error *ngIf="f.prix.invalid && (f.prix.dirty || f.prix.touched)">-->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Services</mat-card-title>
    <mat-card-subtitle class="mat-body-1">New Kind of Service</mat-card-subtitle>

    <form [formGroup]="form" (ngSubmit)="submit()">



      <mat-card-content (click)="openFileDialog()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" appearance="outline" class="mat-mdc-card-content p-y-24" style="border: 1px solid ; border-top-left-radius: 4px;
    border-top-right-radius:  4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; margin-bottom: 1.3rem">
        <mat-card-title class="mat-mdc-card-title">Change picture of the service</mat-card-title>
        <mat-card-subtitle class="mat-mdc-card-subtitle mat-body-1">change picture from here</mat-card-subtitle>
        <div class="text-center m-t-24">
          <img [src]="imageToShow" width="120" height="120" class="rounded-circle">
          <div class="m-t-24">
            <input id="fileInput" type="file" (change)="onFileChange($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" accept="image/*" class="d-none">
            <div class="upload-area" >
              <span class="f-s-14 m-t-24 d-block">Drag your image here or click to select</span>
            </div>
          </div>
          <span class="f-s-14 m-t-24 d-block">Allowed JPG, GIF or PNG. Max size of  800K</span>
        </div>
      </mat-card-content>


      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Service</mat-label>
        <input matInput class="mat-input-element" formControlName="nom"  />
        <mat-error *ngIf="f.nom.invalid ">
          Name invalid
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Prix</mat-label>
        <input matInput class="mat-input-element"  formControlName="prix" />
        <mat-error *ngIf="f.prix.invalid ">
        Invalid price
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Durée</mat-label>
        <input matInput class="mat-input-element" formControlName="duree"  />
        <mat-error *ngIf="f.duree.invalid ">
        invalid duration
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" >Comission (%)</mat-label>
        <input matInput class="mat-input-element"  formControlName="commission" />
        <mat-error  *ngIf="f.commission.invalid ">
          invalid comission
        </mat-error>
      </mat-form-field>





      <div appearance="outline" class="w-100" color="primary">
        <button type="submit"  mat-flat-button color="primary" class="w-50">
          Confirm
        </button>
      </div>

<!--      <div class="mat-form-field-outline">-->

<!--      </div>-->
    </form>

  </mat-card-content>



</mat-card>

