<script src="../../employe/liste-rendez-vous-employe/liste-rendez-vous-employe.component.spec.ts"></script>
<div class="col-lg-12">
  <div *ngIf="isLoading"
       style="position: fixed; width: 100%; height: 100%; display: flex ; justify-content: center; align-items: center; background: white; top: 0; left: 0 ; z-index:  9999;  margin-top: 7%; border-radius: 5%; ">
    <mat-spinner></mat-spinner>
  </div>


  <mat-card class="cardWithShadow" style="width: 100%; overflow: scroll; ">


    <header>
      <mat-form-field appearance="outline" color="primary" style="padding: 1rem" class=" col-3 mat-form-field-outline">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Mois</mat-label>
        <mat-select class="mat-input-element" (selectionChange)="onMonthSelectionChange($event)">
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </header>


    <div style="padding: 1rem;" id="chart">


  <apx-chart
  *ngIf="chartOptions"
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [dataLabels]="chartOptions.dataLabels"
  [plotOptions]="chartOptions.plotOptions"
  [yaxis]="chartOptions.yaxis"
  [xaxis]="chartOptions.xaxis"
  [fill]="chartOptions.fill"
  [title]="chartOptions.title"
></apx-chart>



</div>

  </mat-card>
</div>
