<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Modifier Rendez-vous</mat-card-title>
    <mat-card-subtitle class="mat-body-1">Mettre à jour les détails du rendez-vous</mat-card-subtitle>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" color="primary" class="form-field-class">
        <mat-label class="mat-label-class">Date et Heure</mat-label>
        <input class="mat-input-class" matInput formControlName="date_heure" type="text" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary" class="form-field-class">
        <mat-label class="mat-label-class">Service</mat-label>
        <input class="mat-input-class" matInput formControlName="service" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary" class="form-field-class">
        <mat-label class="mat-label-class">Client</mat-label>
        <input class="mat-input-class" matInput formControlName="client" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary" class="form-field-class">
        <mat-label class="mat-label-class">Prix</mat-label>
        <input class="mat-input-class" min="0" matInput formControlName="prixpaye" type="number">
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary" class="form-field-class">
        <mat-label class="mat-label-class">Durée (minutes)</mat-label>
        <input class="mat-input-class" min="0" matInput formControlName="duree" type="number">
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary" class="form-field-class">
        <mat-label class="mat-label-class">Commission (Ar)</mat-label>
        <input class="mat-input-class" matInput formControlName="comissionemploye" type="number" readonly>
      </mat-form-field>
      <div appearance="outline" color="primary" class="form-field-class">
        <button mat-raised-button color="primary" type="submit">Mettre à jour</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
